html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}


#container {
    width: 100%;
    height: 100%;
    background-image: url('cielohoku.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: block;
   

}
#goku{
    width: 300px;
    height: 300px;
    position: absolute;   
    left: 100px;
    top: 100px;
    overflow: visible;
    transition: 0.2s;     
    background-image: url('goku_normal.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-size: contain;
}


#clicks {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;

}

#info {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    z-index: 9999;
    width: 260px; 
}

#instrucciones {
    font-size: 18px;
    background: rgba(0,0,0,0.5);
    padding: 10px 14px;
    border-radius: 8px;
    text-align: left; 
    margin-top: 10px;
}
