body {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-image: url('kh.jpg');
  background-size: cover;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.panel {
  background: #222;
  padding: 20px;
  width: 320px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

button {
  padding: 10px;
  cursor: pointer;
}

#informacion {
  margin-top: 15px;
  background: #333;
  padding: 10px;
  border-radius: 6px;
}