
/*Página realizada por:  Virginia del Moral Sánchez*/

@import url('https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap');
/*PARÁMETROS GENERALES*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Play', sans-serif;
}

body {
 
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.6;
  background-color:  #f7e1a6 ;

}



/* BARRA DE NAVEGACIÓN */

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color:  black;

}
.logotipo{
  width: 150px;
  height: 150px;
 
}
.logo{
  color: #fe920a;
  font-size: 2rem;
  text-align: center;
  
}
.tienda{
    color:  #f1ca3c;
  font-size: 1.2rem;
  
}
.menu-horizontal{
  list-style: none;
  display: flex;
  justify-content: space-around;
}
.menu-horizontal > li > a{
  display: block;
  padding: 15px 20px;
  color: #edbf17;
  text-decoration: none;
}
.menu-horizontal > li:hover{
  background-color:  #f1edde;
  border-radius: 50px;
}
.menu-vertical{
  position: absolute;
  display: none;
  list-style: none;
  width: 200px;
  background-color: rgba(0, 0, 0, .5);
}
.menu-horizontal li:hover .menu-vertical{
  display: block;
}
.menu-vertical li:hover{
  background-color: black;
}

.menu-vertical li a{
  display: block;
  color: #edbf17;
  text-decoration: none;
  padding: 15px 15px 15px 20px;

}



/*ENCABEZADO SLIDER*/
.tituloslider{
  text-align: center;
  color:black;
  background-color: #e4a907;
 
}
.slider{
  width: 50%;
  height: 300px;
  overflow: hidden;
  display:block;
margin:auto;
}
.slider ul{
    display: flex;
    animation: cambio 20s infinite alternate linear;
    width: 400%;
}
.slider li{
    width: 200%;
    list-style: none;
}
.slider img{
    width: 100%;
    height: 100%;
}
@keyframes cambio{
    0%{margin-left: 0;}
    20%{margin-left: 0;}
    
    25%{margin-left: -100%;}
    45%{margin-left: -100%;}
    
    50%{margin-left: -200%;}
    70%{margin-left: -200%;}
    
    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}
@media only screen and (min-width:320px) and (max-width:768px){
.slider, .slider ul, .slider img{
    height: 100vh;
}
}


/* PIE DE PÁGINA ESTILOS*/

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  background-color: var(--clr-primary-200);
}

footer ul {
  display: flex;
  justify-content: center;
  margin: auto;

}
.footer_items li {
  list-style: none;
  color: rgb(49, 45, 45);
  font-size: 1rem;
}
.footer_items a {
  font-size: 1rem;
  color: rgb(49, 45, 45);
}

.footer_items {
  display: flex;
  justify-content: space-around;
  width: 65%;
}

/* POLÍTICA DE COOKIES */ 

#CookieBanner { display: none; }
.cookie-banner {
position: fixed;
right: 0;
bottom: 0;
min-width: 100%;
background: white;
color: black;
text-align: center;
       } 
       
.cookie-banner p 
{ font-size: 1rem;
 padding: 1rem 0.5rem 0.375rem 0.5rem; }

.cookie-banner a {
  color: red; 
 } 

.cookie-btn {
background: red;
border: 0;
color: white; 
padding: 0.375rem 2rem;
font-size: 1rem;
margin-bottom: 1rem; 
border-radius: 0.5rem; 
cursor: pointer; }





