body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 40px;
  display: flex;
  justify-content: center;
  background-image: url("Screenshot_6.jpg");
  background-size: cover;

}

#resultado {
  background: rgb(241, 196, 247);
  padding: 30px;
  border-radius: 10px;
  width: 400px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

p {
  font-size: 18px;
  color: #000000;
  margin-bottom: 20px;
}

input[type="button"] {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background-color: #45dfa4;
  color: rgb(2, 0, 0);
}

input[type="button"]:hover {
  background-color: #82fa92;
}
