
body{
    background-image: url('fondo2.jpg');
    background-size: cover;
}



.estilo_cuadrado{
    position: absolute;
    left: 600px;
    top: 300px;
    width: 250px;
    height: 250px;
    background-color: transparent;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 3.5s all;
    border-radius: 20px;
    
}

button{
    background-color: rgb(158, 225, 72);
    border-radius: 10px;
    font-size: 20px;
    margin: 10px;
    padding: 10px;
    
}
