#contenedor{
    width: 650px;
    height: 450px;
    margin: 20px auto;
    position: relative;
    border: 3px solid black;
    background-image: url("habitacion.jpg");
    background-size: cover;
}

#marcador{
    width: 300px;
    height: 60px;

    text-align: center;
    margin: auto;
    border-radius: 20px;
}

.boton{
    width: 80px;
    height: 50px;
    margin: 5px;
    background-color: orange;
    border-radius: 20px;
    border-color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.sprite1{
width: 100px;
height: 100px;

position: absolute;
background-image: url(mosca-imagen-animada-0030.gif);
background-size: contain;
background-repeat: no-repeat;
}

.sprite2{
width: 100px;
height: 100px;
position: absolute;
background-image: url("mosquito.gif");
background-size: contain;
background-repeat: no-repeat;
}
