body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: #f2f2f2;
}

#palabraOculta {
    font-size: 32px;
    letter-spacing: 8px;
    margin: 20px;
}

input {
    padding: 8px;
    font-size: 16px;
}

button {
    padding: 8px 14px;
    background-color: #ecab1f;
    color: rgb(0, 0, 0);
    font-size: large;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background-color: #ecb80e;
}

#mensaje {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}

#ahorcado {
    width: 200px;
    height: 250px;
    margin: 20px auto;
    position: relative;
}

.poste {
    background-color: #754c00;
    position: absolute;
}

.base {
    width: 120px;
    height: 10px;
    bottom: 0;
    left: 0;
}

.vertical {
    width: 10px;
    height: 200px;
    bottom: 10px;
    left: 50px;
}

.horizontal {
    width: 100px;
    height: 10px;
    top: 0;
    left: 50px;
}

.cuerda {
    width: 2px;
    height: 30px;
    top: 10px;
    left: 140px;
    background-color: #333;
}

.muneco {
    position: absolute;
    display: none; 
}

.cabeza {
    width: 40px;
    height: 40px;
    border: 3px solid black;
    border-radius: 50%;
    top: 40px;
    left: 120px;
}

.cuerpo {
    width: 3px;
    height: 60px;
    background-color: black;
    top: 80px;
    left: 138px;
}

.brazo {
    width: 40px;
    height: 3px;
    background-color: black;
    top: 100px;
}

.brazo.izquierdo {
    left: 100px;
    transform: rotate(20deg);
}

.brazo.derecho {
    left: 138px;
    transform: rotate(-20deg);
}

.pierna {
    width: 40px;
    height: 3px;
    background-color: black;
    top: 140px;
}

.pierna.izquierda {
    left: 100px;
    transform: rotate(-20deg);
}

.pierna.derecha {
    left: 138px;
    transform: rotate(20deg);
}
