.cuadradito {
    width: 200px;
    height: 200px;
    background-color: lightgreen;
    border: 2px solid #000;
    margin: 50px auto;
}
body {
  background-color: yellow;
}

.cuadradito:hover {
    background-color: #90ee90; 
}

.result {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}