body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-image: url('poke.jpg');
    background-size: cover;
    background-attachment: fixed;
    
}

#escenario{
    width: 1010px;
    height: 550px;
    margin: 30px auto;
    background-image: url('estadio.png');
    background-size: cover; 
    background-repeat: no-repeat;
    position: relative;
    border: 4px solid black;
    border-radius: 10px;
}

.personaje{
    width: 200px;
    height: 300px;
    position: absolute;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    padding: 10px;
    text-align: center;
}

.personaje img{
    width: 180px;
    height: 180px;   
    object-fit: contain;  
    margin-top: -20px;
    margin-bottom: 5px;
}


#pokemon1{
    left: 80px;
    top: 120px; 
}

#pokemon2{
    right: 80px;
    top: 120px;
}


#botones{
    margin-top: 20px;
    
}
#botones button{
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    background-color: rgb(236, 219, 58);
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

.vida-container{
    width: 100%;
    height: 20px;
    background-color: #333;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 5px;
}

.vida-barra{
    height: 100%;
    background-color: limegreen;
    width: 100%; 
    transition: width 0.3s ease;
}

#mensaje-final{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,0.8);
    color: white;
    padding: 40px 60px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 0 20px black;
    z-index: 9999;
}

#mensaje-final h1{
    font-size: 40px;
    margin-bottom: 20px;
}

#mensaje-final button{
    padding: 12px 25px;
    font-size: 18px;
    cursor: pointer;
}

.oculto{
    display: none;
}

#instrucciones {
    width: 350px;
    margin: 20px auto;
    background: rgba(255, 215, 0, 0.75); 
    border: 3px solid #e6c200;
    border-radius: 12px;
    padding: 15px;
    text-align: center;
    font-family: 'Segoe UI', sans-serif;
    box-shadow: 0 0 15px rgba(0,0,0,0.6);
}

#instrucciones .titulo-instrucciones {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
    color: #4a3b00;
    text-transform: uppercase;
}

#instrucciones p {
    margin: 5px 0;
    font-size: 17px;
    color: #3a2f00;
}
